{% extends 'page.html' %}

{% block title %}Смена пароля{% endblock %}

{%comment %}
{% block menu %}
<ul>
	<li><a href="/">Вернуться</a></li>
</ul>
{% endblock %}
{% endcomment %}

{% block content %}
<form action="?next=/" method="post">{% csrf_token %}
<table>
	<tr>
		<td>Введите ваш старый пароль: </td>
		<td>{{form.old_password}}</td>
	</tr>
	<tr>
		<td>Введите ваш новый пароль:</td>
		<td>{{form.new_password1}}</td>
	</tr>
	<tr>
		<td>Повторите новый пароль: </td>
		<td>{{form.new_password2}}</td>
	</tr>
</table>
<input type="submit" style="font-size: 14px;" value="Сменить пароль">
</form>
{% endblock %}