{% extends BASE_TEMPLATE %}

{% block padding %}
    <a href="/administrator/uni/school/#sch{{ school.id }}">{{ grade__school }}</a>
    <span>&rarr;</span>
    <h1>Связки</h1>
    <table><tr style="vertical-align: baseline;"><td>
		<a href="add/">Добавить связь</a>
	</td><td style="padding-left: 20px;">
		{#{% include 'helpers/search_form.html' %}#}
	</td></tr></table>
{% endblock %}

{% block content %}
{% if objects.object_list %}
<table class="table">
	<thead>
		<th>Учитель</th>
		<th>Предмет</th>
		<th>Класс</th>
		<th>Ученики</th>
		<th>Действия</th>
	</thead>
	{% for object in objects.object_list %}
		<tr class="{% cycle 'gray' '' %}">
			<td>{{ object.teacher }}</td>
			<td>{{ object.subject }}</td>
			<td>{{ object.grade }}</td>
			<td>{{ object.get_connection_display }}</td>
			<td>
				<a href="delete/{{ object.id }}" class="delete">Удалить</a>
			</td>
	{% endfor %}
</table>
{% include "helpers/paginator.html" %}
	{% endif %}
{% endblock %}