{{ temp }}
<form method="post" action=".">{% csrf_token %}
	<table class="table form">
		{% for field in form %}
		<tr>
			<td class="label"><label for="{{ field.label }}">{{ field.label_tag }}:</label></td>
			<td>{{ field }}</td>
			<td>
				{% if field.errors %}<div class="error_text">{{ field.errors }}</div>{% endif %}
				{% if field.help_text %}<div class="help_text">{{ field.help_text}}</div>{% endif %}
			</td>
		</tr>
		{% endfor %}
		<tr><td colspan="2"><input type="submit" value="Сохранить"></td></tr>
	</table>
</form>