{% extends 'page_pupil.html' %}

{% block sort_headers %}{1: {sorter: false}, 2: {sorter: false}, 3: {sorter: false}, 4: {sorter: false}, 5: {sorter: false}, 6: {sorter: false}, 7: {sorter: false}, 10: {sorter: false}, }{% endblock %}

{% block content %}
<table class="table sort">
  <thead>
  <tr>
    <th class="active">Уроки</th>
	{% for date in dates %}
	    <th>{{ date|date:"d.m" }}</th>
	{% endfor %}
    <th>Средний балл</th>
    <th>Учителя</th>
  </tr>
  </thead>
  
  <tbody>
  	
	{% for subject in marks %}
		<tr class="{% cycle 'gray' '' %}">
			<td><a href="/marks/{{ subject.0.id }}/">{{ subject.0 }}</a></td>
			{% for mark in subject.1 %}
				<td><div class="mark-{{ mark.get_type }}">{{ mark }}</div></td>
			{% endfor %}
			<td><div class="mark-{{ subject.4 }}">{{ subject.2 }}</div></td>
    		<td><div class="teacher"><a href="/teachers/{{ subject.3.id }}/">{{ subject.3.fio }}</a></div></td>
		</tr>
	{% endfor %}
  
  </tbody>
</table>
{% endblock %}