<!doctype html>
<html>
<head>
	<title>{% block title %}Отметки{% endblock %}</title>
	<style>
		.content{
			width: 100%;
			height: 100%;
		}
		td.topmenu a{
			padding: 0px 20px;
			border-width: 0 1px;
			border-style: solid;
			border-color: gray;
		}
		td.topmenu{
			text-align: right;
		}
		td.left{
			width: 100px;
			background-color: #FFFFCF;
		}
		table.form{
			text-align: left;
		}
	</style>
</head>
<body>
<table class="content">
	<tr>
		<td class="left">{% block logo %} {% endblock %}</td>
		<td class="topmenu">{% block topmenu %}{% endblock %}</td>
	</tr>
	<tr>
		<td class="left">
			{% block menu %}{% endblock %}
		</td>
		<td class="content">{% block content %}{% endblock %}</td>
	</tr>
</table>
</body>
</html>