{% extends 'curatorship_page.html' %}

{% block content %}
<form method="post" action=".">{% csrf_token %}
<input type="submit" value="Генерировать пароль" class="title" />
	<table>
		<thead>
			<th><input type="checkbox" onclick="if($(this).attr('checked')) $('input.pupil').attr('checked', 'true'); else $('input.pupil').attr('checked', '')" /></th>
			<th>Фамилия, имя</th>
			<th>Логин</th>
		</thead>
		{% for pupil in pupils %}
		<tr>
			<td><input type="checkbox" id="pupil-{{ pupil.id }}" class="pupil" name="pupil-{{ pupil.id }}" /></td>
			<td><label for="pupil-{{ pupil.id }}">{{ pupil.fi }}</label></td>
			<td>{{ pupil.username }}</td>
		</tr>
		{% endfor %}
	</table>
</form>
{% endblock %}