{% extends 'page.html' %}

{% block content %}
    {% if step == 1 %}
        <p><b>Выберите школу из списка:</b></p>
        <table class="no-hover">
            {% for obj in objects %}
                <tr><td><a href="?school={{ obj.id }}">{{ obj }}</a></td></tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if step == 2 %}
        <p><b>Выберите класс:</b></p>
        <table class="no-hover">
            {% for obj in objects %}
                <tr><td><a href="?school={{ school.id }}&grade={{ obj.id }}">{{ obj }}</a></td></tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if step == 3 %}
        <p>Введите информацию о своём ребёнке</p>
        
        <form method="post" action="?school={{ school.id }}&grade={{ grade.id }}">{% csrf_token %}
            <table class="no-hover">
                {{ form }}
                <tr>
                    <td colspan="2"><input type="submit" value="Отправить" /></td>
                </tr>
            </table>
        </form>
    {% endif %}
    {% if step == 4 %}
        <p>Ожидайте подтверждения классным руководителем. Вы получите уведомление по электронной почте.</p>

    {% endif %}
{% endblock %}