<html>
    <head>
        <title>Система электронных дневников</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href="{{ MEDIA_URL }}images/design/favicon.ico">
        <link href="{{ MEDIA_URL }}css/main.css" rel="stylesheet" type="text/css">
        <link href="{{ MEDIA_URL }}css/start/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css">
        <link href="{{ MEDIA_URL }}css/paginator3000.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{{ MEDIA_URL}}js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL}}/js/jquery-ui-1.8.11.custom.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.hotkeys-0.7.9.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/all.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/paginator3000.js"></script>

		<script type="text/javascript">
			$(document).ready(function(){
				$('.sort').tablesorter({
					'cssAsc': 'active_asc',
					'cssDesc': 'active_desc',
					'headers': {% block sort_headers %}{}{% endblock %},
				});
				$('.sort').bind('sortEnd', function (){
					$('.sort tr').removeClass('gray');
					$(".sort tr:nth-child(odd)").addClass("gray");
				});
				{% block js_ready %}{% endblock %}
			});
		</script>
    </head>
    <body id="{% if user.type == 'Superuser' %}admin{% endif %}">
        <!-- Все -->
        <div id="all">
            <!-- Верхняя полоса -->
            <div id="headline">
              <a href="http://school-record-book.ru">Система электронных дневников</a> 
				{% if user.school.url %}
	                <a href="{{ user.school.url }}" id="right">{{ user.school }}</a>
				{% endif %}
            </div>
            <!-- / Верхняя полоса --><!-- Шапка -->
            <div id="header">
                <div id="user">
                    <big>{{ user.fio }}</big>
                </div>
                <div id="exit">
                {% if user.roles.all.count > 1 %}
                <ul id="change_user_mode" class="menu">
                    <li><a href="#" onclick="$('#change_user_mode').toggleClass('menu_on');return false">
                            {{ user.get_current_role_cyrillic }}
                        <img src="{{ MEDIA_URL }}images/arrow-down-medium.png" />
                        </a>
                        <ul>
                            {% for role in user.get_base_roles_list %}
                                {% if user.get_current_role_cyrillic != role.0 %}
                                    <li>
                                        <a href="/accounts/set_role/{{ role.4.id }}/?type={{ role.1 }}">
                                            {{ role.0 }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                    {% endif %}
                {% if user.pupils.all.count > 1 %}
                <ul id="change_current_pupil" class="menu">
                    <li><a href="#" onclick="$('#change_current_pupil').toggleClass('menu_on');return false">
                            {{ user.current_pupil.if_ }}
                        <img src="{{ MEDIA_URL }}images/arrow-down-medium.png" />
                        </a>
                        <ul>
                            {% for pupil in user.pupils.all %}
                                {% if user.current_pupil != pupil %}
                                    <li>
                                        <a href="/accounts/set_role/{{ role.4.id }}/?type={{ role.1 }}">
                                            {{ pupil.if_ }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                {% endif %}
                    <a href="/accounts/password_change/">Смена пароля</a>
                    <a href="/accounts/logout">Выход</a>
                </div>
                <div class="clear">
                </div>
                <div id="navigation">
                    {% if user.type == 'Superuser' %}{% include 'menu/superuser.html' %}{% endif %}
                    {% if user.type == 'Teacher' %}{% include 'menu/teacher.html' %}{% endif %}
                    {% if user.type == 'Parent' %}{% include 'menu/parent.html' %}{% endif %}
                    {% if user.type == 'Superviser' %}{% include 'menu/superviser.html' %}{% endif %}
                </div>
            </div>
            <!-- / Шапка --><!-- Тень -->
            <div id="shadow">
            </div>

<!-- Заголовки и подразделы -->
<div id="sub-navigation">
<div id="padding">
	{% block padding %}{% endblock %}
</div>
</div>
<!-- / Заголовки и подразделы -->

            <!-- / Тень --><!-- Основное содержание -->
            <div id="content">
            	{% block content %}

				{% endblock %}
            </div>
            <!-- / Основное содержание -->
            <!-- © -->
            <div id="copyright">
                <div class="column">
                    <p>
	                    &copy;&nbsp;2009&#150;{{ current_year }}&nbsp;<a href="http://aleks-komkov.ru/">Комков&nbsp;Александр</a>
                    </p>
                </div>
                <div class="column">
                    <p>
                    </p>
                </div>
            </div>
            <!-- / © -->
        </div>
        <!-- / Все -->
    </body>
</html>



