{% extends 'page.html' %}

{% block content %}
	<table id="shedule">
		<tr>
			{% for timetable in timetables %}
				{% include 'day.html' %}
				{% if timetable.day_n == 3 %}
					<td>
						{% comment %}
						    <div id="bells">
						    <big>Расписание звонков</big>
						    <p>1 9:00—9:45</p>
						    <p>2 9:55—10:40</p>
						    <p>3 10:55—11:40</p>
						    <p>4 11:45—12:35</p>
						    <p>5 12:45—13:35</p>
						    <p>6 13:45—14:35</p>
						    </div>
						{% endcomment %}
					</td>
					</tr><tr>
				{% endif %}
			{% endfor %}
		</tr>
	</table>
{% endblock %}

