{% extends 'page.html' %}

{% block padding %}
    <a href="/administrator/uni/userextended.School/#sch{{ school.id }}">{{ school }}</a>
    <span>&rarr;</span>
    <h1>Расписания</h1>
    <table><tr style="vertical-align: baseline;"><td>
		<a href="import/">Импортировать расписание</a>
	</td><td style="padding-left: 20px;">
	</td></tr></table>
{% endblock %}


{% block content %}
<table class="table">
	{% for grade in grades %}
		<tr><td><a href="set/{{ grade.id }}/">{{ grade }}</a></td></tr>
	{% endfor %}
</table>
{% endblock %}