<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
  <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js" type="text/javascript"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.3/scriptaculous.js" type="text/javascript"></script> 
  <script src="http://asset3.laterthis.com/javascripts/all.js" type="text/javascript"></script>
  <title>Авторизируйтесь</title> 
  <link href="{{ MEDIA_URL }}css/login/style.css?1297499725" media="screen" rel="stylesheet" type="text/css" /> 
  <!--[if IE 7]><link href="{{ MEDIA_URL }}css/login/ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 6]><link href="{{ MEDIA_URL }}css/login/ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /> 
</head> 
<body> 
    <div id="page-content"> 
<div id="login-page"> 
  <div id="logo"> 
     {{ user.private_salute }}
  </div> 
  {% if form.errors %}
	  <div class="errorExplanation" id="errorExplanation">
	  	<h2>Возникли ошибки при заполнении формы</h2>
	  	<ul>
	  		{{ form.errors }}
	  	</ul>
	  </div>
  {% endif %}
  <form action="." class="new_user_session" id="new_user_session" method="post">
  {% csrf_token %}
    <div id="normal-login"> 
      <p><label for="user_session_login">Логин</label><br /> 
      {{ form.username }}</p> 
      <p><label for="user_session_password">Пароль</label><br/> 
      {{ form.password }}</p> 
    </div> 
    
    <p><input class="button" name="commit" type="submit" value="Войти" /> 
    <a href="/accounts/password_reset/" class="new_password">Забыли пароль?</a></p>
  </form>
    
    <p id="signup">
    	<i>Родителю:</i> <a href="/accounts/register-clerk/?auto_login=1&is_parent=1">пройдите регистрацию</a>
    </p> 
</div> 
  </div> 
<script type="text/javascript">
	document.getElementById('id_username').focus();
</script>
</body> 
</html>
