{% extends 'page.html' %}

{% block padding %}
    {% if school %}
        <a href="/administrator/uni/userextended.School/#sch{{ school.id }}">{{ school }}</a>
        <span>&rarr;</span>
    {% endif %}
    <h1>Настройки</h1>
{% endblock %}

{% block content %}
<table class="table">
	<thead>
		<th>Опция</th>
		<th>Значение</th>
		<th>Действия</th>
	</thead>
	{% for object in objects.object_list %}
		<tr class="{% cycle 'gray' '' %}">
			<td>{{ object.key_ru }}</td>
			<td>{{ object.value }}</td>
			<td><a href="edit/{{ object.id }}/">редактировать</a></td>
		</tr>
	{% empty %}
		<tr><td colspan="3">Опций нет</td></tr>
	{% endfor %}
</table>
{% include "helpers/paginator.html" %}
{% endblock %}