{% extends 'page.html' %}

{% block padding %}
    <h1>Восстановление пароля</h1>
{% endblock %}

{% block content %}
  <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
  {% load formater %}
    <form method="post" action=".">{% csrf_token %}
        <table class="table form no-hover">
            {% for field in form %}
            <tr>
                <td class="label"><label for="{{ field.label }}">{{ field.label_tag }}:</label></td>
                <td>{{ field }}</td>
                <td>
                    {% if field.errors %}<div class="error_text">{{ field.errors }}</div>{% endif %}
                    {% if field.help_text %}<div class="help_text">{{ field.help_text}}</div>{% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr><td colspan="2"><input type="submit" value="Восстановить мой пароль"></td></tr>
        </table>
    </form>

{% endblock %}