{% extends 'page.html' %}

{% block padding %}
    <h1>Введите новый пароль</h1>
{% endblock %}

{% block content %}
    <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
    {% load formater %}
      <form method="post" action=".">{% csrf_token %}
          <table class="table form no-hover">
              {% for field in form %}
              <tr>
                  <td class="label"><label for="{{ field.label }}">{{ field.label_tag }}:</label></td>
                  <td>{{ field }}</td>
                  <td>
                      {% if field.errors %}<div class="error_text">{{ field.errors }}</div>{% endif %}
                      {% if field.help_text %}<div class="help_text">{{ field.help_text}}</div>{% endif %}
                  </td>
              </tr>
              {% endfor %}
              <tr><td colspan="2"><input type="submit" value="Изменить пароль"></td></tr>
          </table>
      </form>


{% endblock %}