{% extends 'page.html' %}

{% block padding %}
    <a href="/administrator/uni/school/#sch{{ school.id }}">{{ school }}</a>
    <span>&rarr;</span>
    <h1>Ученики</h1>
    <table><tr style="vertical-align: baseline;"><td>
		<a href="add/">Добавить ученика</a>
	</td><td style="padding-left: 20px;">
		{% include 'helpers/search_form.html' %}
	</td></tr></table>
{% endblock %}

{% block content %}
{% if objects.object_list %}
<table class="table">
	<thead>
		<th>Ученик</th>
		<th>Логин</th>
		<th>Класс</th>
		<th>Действия</th>
	</thead>
	{% for object in objects.object_list %}
		<tr class="{% cycle 'gray' '' %}">
			<td>{{ object.fio }}</td>
			<td>{{ object.username }}</td>
			<td>{{ object.grade }}</td>
			<td>{% include "helpers/buttons/edit.html" %} <a href="/administrator/uni/achievement/{{ object.id }}/">Достижения.</a></td>
	{% endfor %}
</table>
{% include "helpers/paginator.html" %}
	{% endif %}
{% endblock %}