{% extends 'page.html' %}

{% block padding %}
    <a href="/administrator/uni/userextended.School/#sch{{ school.id }}">{{ school }}</a>
    <span>&rarr;</span>
    <a href="/administrator/uni/userextended.Pupil/{{ school.id }}/">Ученики</a>
    <span>&rarr;</span>
    <h1>Редактирование</h1>
{% endblock %}

{% block content %}
<form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
<table class="table"><tr><td>
	<fieldset>
		<legend>Общая информация</legend>
		<table>
			<tr>
				<td class="label"><label for="id_last_name">Фамилия:</label></td>
				<td>{{ form.last_name }}</td>
				<td>
					{% if form.last_name.errors %}<div class="error_text">{{ form.last_name.errors }}</div>{% endif %}
					{% if form.last_name.help_text %}<div class="help_text">{{ form.last_name.help_text }}</div>{% endif %}
				</td>
			</tr>
			<tr>
				<td class="label"><label for="id_first_name">Имя:</label></td>
				<td>{{ form.first_name }}</td>
				<td>
					{% if form.first_name.errors %}<div class="error_text">{{ form.first_name.errors }}</div>{% endif %}
					{% if form.first_name.help_text %}<div class="help_text">{{ form.first_name.help_text }}</div>{% endif %}
				</td>
			</tr>
			<tr>
				<td class="label"><label for="id_middle_name">Отчество:</label></td>
				<td>{{ form.middle_name }}</td>
				<td>
					{% if form.middle_name.errors %}<div class="error_text">{{ form.middle_name.errors }}</div>{% endif %}
					{% if form.middle_name.help_text %}<div class="help_text">{{ form.middle_name.help_text }}</div>{% endif %}
				</td>
			</tr>
			<tr>
				<td class="label"><label for="id_sex">Пол:</label></td>
				<td>{{ form.sex }}</td>
				<td>
					{% if form.sex.errors %}<div class="error_text">{{ form.sex.errors }}</div>{% endif %}
					{% if form.sex.help_text %}<div class="help_text">{{ form.sex.help_text }}</div>{% endif %}
				</td>
			</tr>
		</table>
	</fieldset>
	</td></tr><tr><td>
	<fieldset>
		<legend>Учёба</legend>
		<table>
			<tr>
				<td class="label"><label for="id_grade">Класс:</label></td>
				<td>{{ form.grade }}</td>
				<td>
					{% if form.grade.errors %}<div class="error_text">{{ form.grade.errors }}</div>{% endif %}
					{% if form.grade.help_text %}<div class="help_text">{{ form.grade.help_text }}</div>{% endif %}
				</td>
			</tr>
		</table>
	</fieldset>
	</td></tr><tr><td>
	<fieldset>
		<legend>Родители</legend>
		<table>
			<tr>
				<td class="label"><label for="id_special">Телефон отца:</label></td>
				<td>{{ form.parent_phone_1 }}</td>
				<td>
					{% if form.parent_phone_1.errors %}<div class="error_text">{{ form.parent_phone_1.errors }}</div>{% endif %}
					{% if form.parent_phone_1.help_text %}<div class="help_text">{{ form.parent_phone_1.help_text }}</div>{% endif %}
			</td>
			</tr>
			<tr>
				<td class="label"><label for="id_cart">Телефон матери: </label></td>
				<td>{{ form.parent_phone_2 }}
				<td>
					{% if form.parent_phone_2.errors %}<div class="error_text">{{ form.parent_phone_2.errors }}</div>{% endif %}
					{% if form.parent_phone_2.help_text %}<div class="help_text">{{ form.parent_phone_2.help_text }}</div>{% endif %}
				</td>
			</tr>
			<tr>
				<td class="label"><label for="id_cart">Электропочта: </label></td>
				<td>{{ form.email }}
				<td>
					{% if form.email.errors %}<div class="error_text">{{ form.email.errors }}</div>{% endif %}
					{% if form.email.help_text %}<div class="help_text">{{ form.email.help_text }}</div>{% endif %}
				</td>
			</tr>
		</table>
	</fieldset>
</td></tr><tr><td>
	<fieldset>
		<legend>Другая информация</legend>
		<table>
			<tr>
				<td class="label"><label for="id_special">Спец. группа:</label></td>
				<td>{{ form.special }}</td>
				<td>
					{% if form.special.errors %}<div class="error_text">{{ form.special.errors }}</div>{% endif %}
					{% if form.special.help_text %}<div class="help_text">{{ form.cpecial.help_text }}</div>{% endif %}
			</td>
			</tr>
			<tr>
				<td class="label"><label for="id_special">{{ form.order.label }}:</label></td>
				<td>{{ form.order }}</td>
				<td>
					{% if form.order.errors %}<div class="error_text">{{ form.order.errors }}</div>{% endif %}
					{% if form.order.help_text %}<div class="help_text">{{ form.order.help_text }}</div>{% endif %}
			</td>
			</tr>
			<tr>
				<td class="label"><label for="id_special">{{ form.health_group.label }}:</label></td>
				<td>{{ form.health_group }}</td>
				<td>
					{% if form.health_group.errors %}<div class="error_text">{{ form.health_group.errors }}</div>{% endif %}
					{% if form.health_group.help_text %}<div class="help_text">{{ form.health_group.help_text }}</div>{% endif %}
			</td>
			</tr>
			<tr>
				<td class="label"><label for="id_special">{{ form.health_note.label }}:</label></td>
				<td>{{ form.health_note }}</td>
				<td>
					{% if form.health_note.errors %}<div class="error_text">{{ form.health_note.errors }}</div>{% endif %}
					{% if form.health_note.help_text %}<div class="help_text">{{ form.health_note.help_text }}</div>{% endif %}
			</td>
			</tr>
			{% if form.cart %}
				<tr>
					<td class="label"><label for="id_cart">Номер карты: </label></td>
					<td>{{ form.cart }}
					<td>
						{% if form.cart.errors %}<div class="error_text">{{ form.cart.errors }}</div>{% endif %}
						{% if form.cart.help_text %}<div class="help_text">{{ form.cart.help_text }}</div>{% endif %}
					</td>
				</tr>
			{% endif %}
		</table>
	</fieldset>
    {% if groups %}
</td></tr><tr><td>
	<fieldset>
		<legend>Группы</legend>
		<table>
            {% for group in groups %}
			<tr>
				<td class="label"><label for="{{ group.value.id }}">{{ group.value.label }}</label></td>
				<td>{{ group.value }}</td>
				<td>
					{% if group.value.errors %}<div class="error_text">{{ group.value.errors }}</div>{% endif %}
					{% if group.value.help_text %}<div class="help_text">{{ group.value.help_text }}</div>{% endif %}
			    </td>
			</tr>
            {% endfor %}
		</table>
	</fieldset>
</td></tr>
    {% endif %}
<tr><td><input type="submit"></td></tr>
</table>
</form>
{% endblock %}