{% extends 'page.html' %}

{% block padding %}
    <a href="/administrator/uni/userextended.School/#sch{{ school.id }}">{{ school }}</a>
    <span>&rarr;</span>
    <h1>Периоды</h1>
    <table><tr style="vertical-align: baseline;"><td>
		<a href="add/">Добавить период</a>
	</td><td style="padding-left: 20px;">
	</td></tr></table>
{% endblock %}

{% block content %}
<table class="table">
	<thead>
		<th>Период</th>
		<th>Дата окончания</th>
		<th>Классы</th>
		<th>Действия</th>
	</thead>
	{% for object in objects.object_list %}
		<tr class="{% cycle 'gray' '' %}">
			<td>{{ object.get_period_display }}</td>
			<td>{{ object.enddate|date:"d.n.Y" }}</td>
			<td>{% for grade in object.grades.all %}{{ grade }}; {% endfor %}</td>
			<td>{% include "helpers/buttons/edit.html" %}</td>
	{% endfor %}
</table>
{% include "helpers/paginator.html" %}
{% endblock %}