{% extends 'page.html' %}


{% block padding %}
    {%  if school %}
        <a href="/administrator/uni/userextended.School/#sch{{ school.id }}">{{ school }}</a>
        <span>&rarr;</span>
    {% else %}
        <a href="/administrator/uni/userextended.School/">Школы</a>
        <span>&rarr;</span>
    {% endif %}
    <h1>Периоды</h1>
    <table><tr style="vertical-align: baseline;"><td>
		<a href="add/">Добавить период</a>
	</td><td style="padding-left: 20px;">
	</td></tr></table>
{% endblock %}

{% block content %}
<table class="table">
	<thead>
		<th>Период</th>
		<th>Дата окончания</th>
		{% if school %}<th>Классы</th>{% endif %}
		<th>Действия</th>
	</thead>
	{% for object in objects.object_list %}
		<tr class="{% cycle 'gray' '' %}">
			<td>{{ object.name }}</td>
			<td>{{ object.date|date:"d.m.Y" }}</td>
			{% if school %}<td>{% for grade in object.grades.all %}{{ grade }}; {% endfor %}</td>{% endif %}
			<td>{% include "helpers/buttons/edit.html" %}</td>
	{% endfor %}
</table>
{% include "helpers/paginator.html" %}
{% endblock %}