<html>
<head>
    <title>Администрирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}images/design/favicon.ico">
    <link href="{{ MEDIA_URL }}css/main.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/paginator3000.css" />
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/all.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/paginator3000.js"></script>
</head>
<body id="admin">
    <!-- Все -->
    <div id="all">
        <!-- Верхняя полоса -->
        <div id="headline">
            <a href="http://e-sch.ru/">Электронная школа</a>
        </div>
        <!-- / Верхняя полоса --><!-- Шапка -->
        <div id="header">
            <div id="user">
                <big>Администратор</big>
            </div>
            <div id="exit">
                <a href="/accounts/logout">Выход</a>
            </div>
            <div class="clear"></div>
            <div id="navigation">
                <!--
				<a href="/">Главная</a>
                <a href="/shkola/">Школа</a>
                <a href="/raspisanie/">Расписание</a>
                <big class="yellow">Оценки</big>
                <a href="/uchitelya/">Учителя</a>
				-->
            </div>
        </div>
        <!-- / Шапка --><!-- Тень -->
        <div id="shadow"></div>
        <!-- / Тень --><!-- Заголовки и подразделы -->
        <div id="sub-navigation">
            <div id="padding">
            	{% block padding %} {% endblock %}
            	<!--
                <a href="#">Школа № 666</a>
                <span>&rarr;</span>
                <a href="#">7б класс</a>
                <span>&rarr;</span>
                <h1>Физика</h1>
				-->
            </div>
        </div>
        <!-- / Заголовки и подразделы --><!-- Основное содержание -->
		
        <div id="content">
            {% block content %} {% endblock %}
        </div>
        <!-- / Основное содержание -->
        <!-- © -->
        <div id="copyright">
            <div class="column">
                <p>
                    &copy;&nbsp;2008&nbsp;&mdash;&nbsp;{{ current_year }}&nbsp;Электронная школа
                </p>
            </div>
            <div class="column">
                <p>
                    {#<Служба клиентской поддержки:<br />8-800-444-1212 (круглосуточно)#}
                </p>
            </div>
        </div>
        <!-- / © -->
    </div>
    <!-- / Все -->
</body>
</html>
