{# FIXME: DRY в меню #}
{% if path == 'baseuser' %}
    <big class="green">Аккаунты</big>{% else %}<a href="/accounts/baseuser/">Аккаунты</a>
{% endif %}
{% if path == 'userextended.School' %}
    <big class="yellow">Школы</big>{% else %}<a href="/accounts/uni/userextended.School/">Школы</a>
{% endif %}
{% if path == 'userextended.Option' %}
    <big class="red">Настройки</big>{% else %}<a href="/accounts/uni/userextended.Option/">Настройки</a>
{% endif %}
{% if path == 'marks.ResultDate' %}
    <big class="purple">Итоговые</big>{% else %}<a href="/accounts/uni/marks.ResultDate/">Итоговые</a>
{% endif %}
