{%  load formater %}

{% if  request.user.current_grade.get_pupils_for_teacher_and_subject %}
    {%  main_menu_block 'Оценки' '/marks/' '' CM 'marks' %}
{% endif %}
{% if user.grade %}
    {%  main_menu_block 'Классное руководство' '/curatorship/' '' CM 'curatorship' %}
{% endif %}
{% if user.edu_admin %}
    {%  main_menu_block 'Управление' '/accounts/uni/userextended.School/' '' CM 'userextended.School' %}
{% endif %}
{% if user.edu_admin or user.grade %}
    {%  main_menu_block 'Отчёты' '/reports/' '' CM 'reports' %}
{% endif %}
