{% if paginator %}
<table class="table"><tr><td>
<div class="paginator" id="paginator_example"></div>
<script type="text/javascript">
	paginator_example = new Paginator(
		"paginator_example", // id контейнера, куда ляжет пагинатор
		{{ objects.paginator.num_pages }}., // общее число страниц
		3, // число страниц, видимых одновременно
		{{ objects.number }}, // номер текущей страницы
		"?page=" // url страниц
	);
</script>
{% load pytils_numeral %}
Всего {{ objects.paginator.num_pages }} {{ objects.paginator.num_pages|choose_plural:page_plural }}.
</td></tr></table>
{% endif %}

