{% extends 'marks/teacher/page.html' %}

{% block content %}
<form method="post" action".">{% csrf_token %}
<table>
	<tr><td colspan="3">
		<input type="submit" name="send" value="Выставить отметки" />
	</td></tr>
	{% for pupil in pupils %}
	<tr>
		<td>({{ pupil.sa|default:"н\а" }})</td>
		<td>{{ pupil.name }}</td>
		<td>{{ pupil.form.mark }}</td>
		<td>{% if pupil.form.mark.errors %}<div class="erorr_text">{{ pupil.form.mark.errors }}</div>{% endif %}</td>
	</tr>
	{% endfor %}
</table>
<input type="hidden" value="{{ grade }}" name="grade" />
<input type="hidden" value="{{ resultdate }}" name="resultdate" />
</form>	
{% endblock %}