{% extends 'marks/teacher/page.html' %}

{% block content %}
<form method="post" action="give/">{% csrf_token %}
<table>
	<tr>
		<td colspan="2">
			<select name="resultdate">
				{% for resultdate in resultdates %}
				<option value="{{ resultdate.id }}">{{ resultdate.get_period_display }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Выставить отметки" />
		</td>
	</tr>
	{% for grade in grades %}
	<tr>
		<td><input type="radio" name="grade" id="grade-{{ grade.id }}" value="{{ grade.id }}" /></td>
		<td><label for="grade-{{ grade.id }}">{{ grade.long_name }}</label></td>
	</tr>
	{% endfor %}
</table>
</form>	
{% endblock %}