{% extends 'page.html' %}

{% load formater %}

{% block  js_ready %}
    $("#id_start").datepicker($.datepicker.regional["ru"]);
    $("#id_end").datepicker($.datepicker.regional["ru"]);
{% endblock %}

{% block sort_headers %}{1: {sorter: false}, 2: {sorter: false}, 3: {sorter: false}, 4: {sorter: false}, 5: {sorter: false}, 6: {sorter: false}, 7: {sorter: false}, 10: {sorter: false}, }{% endblock %}

{% block content %}
{% include 'helpers/uniForm.html' %}
{% include '~reports/marks.html' %}
{% endblock %}