{% extends 'tests/page.html' %}

{% block content %}
<h2>Вопрос группы A</h2>
{{ form.errors }}
<form method="post" action="?num={{ num }}">{% csrf_token %}
<table>
	<tr>
		<td>Вопрос:</td>
		<td>
			{{ form.task }}
		</td>
	</tr>
	<tr>
		<td>Вариант ответа №1:</td>
		<td>
			{{ form.option1 }} <input type="radio" name="answer" value="1"{% ifequal answer "1" %} checked="checked"{% endifequal %}>
		</td>
	</tr>
	<tr>
		<td>Вариант ответа №2:
		</td>
		<td>
			{{ form.option2 }} <input type="radio" name="answer" value="2"{% ifequal answer "2" %} checked="checked"{% endifequal %}>
		</td>
	</tr>
	<tr>
		<td>Вариант ответа №3:
		</td>
		<td>
			{{ form.option3 }} <input type="radio" name="answer" value="3"{% ifequal answer "3" %} checked="checked"{% endifequal %}>
		</td>
	</tr>
	<tr>
		<td>Вариант ответа №4:</td>
		<td>
			{{ form.option4 }} <input type="radio" name="answer" value="4"{% ifequal answer "4" %} checked="checked"{% endifequal %}>
		</td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="Сохранить" /></td>
	</tr>
</table>
</form>
{% endblock %}