<!DOCTYPE html>
<html>
<head>
	<title>Брянский городской лицей №1 имени А. С. Пушкина</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/css/root.css" type="text/css"/>
</head>
<body>
<div id="name">
	<span id="first">Брянский городской</span><br />
	<span id="second">лицей №1</span><br />
	<span id="third">имени А. С. Пушкина</span><br />
</div>
<div id="info"><a href="#">Информация</a></div>
<div id="press"><a href="#">Пресс-центр</a></div>
<div id="council"><a href="#">Совет лицея</a></div>
<div id="teachersroom"><a href="#">Учительская</a></div>
<div id="pride"><a href="#">Наша гордость</a></div>
<div id="science"><a href="#">Наука</a></div>
<div id="footer">
	<table id="content">
	<tr><td style="text-align: center;">&copy; 2009</td></tr>
	</table>
</div>
</body>
</html>