{% extends 'page.html' %}

{% block administrator_menu %}
<ul>
	<li{% ifequal object_name "teacher" %} class="active" {% endifequal %}><a href="/administrator/uni/teacher/">Учителя</a></li>
	<li{% ifequal object_name "pupil" %} class="active" {% endifequal %}><a href="/administrator/uni/pupil/">Учащиеся</a></li>
	<li{% ifequal object_name "staff" %} class="active" {% endifequal %}><a href="/administrator/uni/staff/">Персонал</a></li>
	<li{% ifequal object_name "subject" %} class="active" {% endifequal %}><a href="/administrator/uni/subject/">Дисциплины</a></li>
	<li{% ifequal object_name "grade" %} class="active" {% endifequal %}><a href="/administrator/uni/grade/">Классы</a></li>
	<li{% ifequal object_name "resultdate" %} class="active" {% endifequal %}><a href="/administrator/uni/resultdate/">Итоги</a></li>
</ul>
{% endblock %}