{% extends 'userextended/page.html' %}

{% block content %}
<h2>Итоговый период</h2>
<form method="post" action=".">
	{{ form.errors }}
	<div class="field">
		<label for="id_period">Учебный период:</label>
		{{ form.period }}
	</div>
	<div class="field">
		<label for="id_startdate">Дата начала периода:</label>
		{{ form.startdate }}
	</div>
	<div class="field">
		<label for="id_enddate">Дата подведения итога:</label>
		{{ form.enddate }}
	</div><br />
	<div class="field">
		<label for="id_grades">Классы:</label>
		{{ form.grades }}
	</div>
	<input type="submit" value="Сохранить">
</form>
{% endblock %}