{% extends 'userextended/page.html' %}

{% block content %}
<a href="add/">Добавить преподавателя</a><br />
	{% include 'helpers/search_form.html' %}
	{% if not objects.object_list and search_str %}
	<br />
	Ничего не найдено. Попробуйте переформулировать запрос.
	{% endif %}
	{% if not objects.object_list and not search_str %}
	<br />
	Преподавателей нет.
	{% endif %}
	{% if objects.object_list %}
<table>
	{% for object in objects.object_list %}
		<tr>
			<td>{{ object.fio }}</td>
			<td>{{ object.username }}</td>
			<td>{% include "helpers/buttons/edit.html" %}</td>
	{% endfor %}
</table>
{% include "helpers/paginator.html" %}
	{% endif %}
{% endblock %}