                        <td{% if timetable.today %} id="today"{% endif %}>
                            <small>{{ timetable.date }}</small>
                            <big>{{ timetable.day_ru }}</big>
                            <table class="table">
                                <tbody>
                                	{% for lesson in timetable.lessons %}
	                                    <tr>
	                                        <td class="padding-right">
	                                            <div class="number">{{ forloop.counter }}</div>
	                                        </td>
	                                        <td>
	                                            <a href="/marks/{{ lesson.subject.id }}">{{ lesson.subject }}</a>
	                                        </td>
	                                        <td>
	                                            <div class="classroom">
	                                                <div>
	                                                    <div>{{ lesson.room }}</div>
	                                                </div>
	                                            </div>
	                                        </td>
	                                    </tr>
									{% empty %}
										<tr>
											<td colspan="3">Уроков сегодня нет</td>
										</tr>
									{% endfor %}
                                    <tr>
                                        <td colspan="3">
                                            <div class="end">
                                                {#<strong>Уроки заканчиваются в 13:35</strong>#}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>