{% extends 'page.html' %}

{% block padding %}
	{% if user.type == 'Superuser' %}
	{% endif %}

    {% comment %}
    {% if user.type == 'Teacher' %}
			{% for subject in subjects %}
				{% ifequal subject.id user.current_subject.id %}
					<h1>{{ subject.name }}</h1>
				{% else %}
					<a href="/marks/set_current_subject/{{ subject.id }}?next={{ next }}">{{ subject.name }}</a>
				{% endifequal %}
			{% endfor %}
	{% endif %}
	{% endcomment %}
        
{% endblock %}

{% block content %}
{% if user.type == 'Parent' %}
                <table id="index" class="no-hover">
                    <tr>
                        <td>
                            {% include 'helpers/classmates.html' %}
                        </td>
          {% for timetable in timetables %}						
						{% include 'day.html' %}
					{% endfor %}
						
                        <td>
                            <div id="class-teacher">
                                <div class="gray">
                                    Классный руководитель
                                </div>
                                <h1>{{ curator }}</h1>
                                {#<div class="subject"><a href="#">Литература</a></div>#}
                                {#<div class="classroom"><div><div>23</div></div></div>#}
                            </div>
							{% comment %}
                            <!-- Объявление -->
                            <div class="message">
                                <p>
                                    Профилактические работы в ночь с 31 декабря на 1 января. 
                                </p>
                            </div>
                            <!-- / Объявление -->
                            <!-- Объявление -->
                            <div class="message">
                                <p>
                                    Обновление оценок от 20 января 2009.
                                </p>
                            </div>
                            <!-- / Объявление -->
                            <!-- Объявление -->
                            <div class="message">
                                <p>
                                    Спорный регион В&nbsp;этом году число нападений в&nbsp;Ираке резко сократилось.
                                </p>
                                <p>
                                    Киркук и&nbsp;Мосул остается опасным, указывает корреспондент 
                                    <nobr>
                                        Би-би
                                    </nobr>-си в&nbsp;Багдаде Хамфри Хоксли.
                                </p>
                            </div>
                            <!-- / Объявление -->
							{% endcomment %}
                        </td>
                        <td>
<table id="shedule">
<tr><td>
  {% if lessons %}
    <div id="bells">
      <big style="padding:0;margin:0px;">Расписание звонков</big>
      {# <small style="margin:0px;padding-bottom: 5px;">{{ ringtimetable_workday }}</small>#}
      {% for lesson in lessons %}
        <p>{{ lesson.number }} {{ lesson.start|time:"H:i" }}—{{ lesson.end|time:"H:i" }}</p>
      {% endfor %}
    </div>
  {% endif %}
</td></tr></table>

                        </td>
                    </tr>
                </table>
{% endif %}
{% if user.type == 'Superuser' %}
    <p>Рыба &mdash; здесь будет статистика.</p>
{% endif %}
{% if user.type == 'Teacher' %}
    <p>Здесь будут всякие запросы и общие сведения</p>
{% endif %}

{% endblock %}
