{% extends 'page.html' %}

{% block content %}
<table class="table sort">
    <thead>
        <tr>
            <th class="ajax_link">
                <span>Учителя</span>
            </th>
            <th class="ajax_link"><span>Предметы</span></th>
            {#<th>Кабинеты</th>#}
        </tr>
    </thead>
    <tbody>
    	{% for teacher in teachers %}
	        <tr class="{% cycle 'gray' '' %}">
	            <td><a href="/teachers/{{ teacher.id }}/">{{ teacher.fio }}</a></td>
	            <td>
	                <div class="subject">
	                	{% for subject in teacher.subjects.all %}
		                    <a href="/marks/{{ subject.id }}">{{ subject }}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}
	                </div>
	            </td>
	            {#<td><div class="classroom"><div><div>205</div></div></div></td>#}
	        </tr>
		{% endfor %}
    </tbody>
</table>
{% endblock %}