{% extends 'marks/teacher/page.html' %}

{% block content %}
<form method="post" action=".">
<table>
	{% for mark in marks %}
		<tr><td colspan="3">{{ mark.name }}</td></tr>
		{% for field in mark.form %}
		<tr>
			<td class="label"><label for="{{ field.label }}">{{ field.label_tag }}:</label></td>
			<td>{{ field }}</td>
			<td>
				{% if field.errors %}<div class="error_text">{{ field.errors }}</div>{% endif %}
				{% if field.help_text %}<div class="help_text">{{ field.help_text}}</div>{% endif %}
			</td>
		</tr>
		<tr><td></td><td></td><td></td></tr>
		{% endfor %}
	{% endfor %}
	<tr><td colspan="2"><input type="submit" name="send"></td></tr>
</table>
</form>
{% endblock %}