{% extends 'marks/teacher/page.html' %}

{% block content %}
	<a href="/marks/lesson/add/">Добавить урок</a><br />
		<table class="list">
		    <thead>
		        <td>Тема урока</td>
		        <td>Класс</td>
		        <td>Действия</td>
		    </thead>
		{% for lesson in lessons %}
		    <tr>
		        <td>{{ lesson.topic }}</td>
		        <td>{{ lesson.grade.long_name }}</td>
		        <td><a href="/marks/lesson/edit/{{ lesson.id }}/">Редактировать</a>, <a href="/marks/lesson/delete/{{ lesson.id }}/">удалить</a>.</td>
		    </tr>
		{% endfor %}
		</table>
{% endblock %}