{% extends 'marks/teacher/page.html' %}
{% block content %}
<form method="post" action=".">
	<h2>Урок</h2>
	{{ form.errors }}
	<div class="field">
		<label for="id_date">Дата:</label>
		{{ form.date }}
	</div>
	<div class="field">
		<label for="id_topic">Тема урока:</label>
		{{ form.topic }}
	</div>
	<div class="field">
		<label for="id_task">Домашнее задание:</label>
		{{ form.task }}
	</div>
	<div class="field">
		<label for="id_small_name">Класс:</label>
		{{ form.grade }}
	</div>
	<input type="submit" value="Сохранить">
</form>
{% endblock %}