{% extends 'marks/page.html' %}

{% block marks_menu %}
	<ul>
	{% if subjects %}
		<li{% ifequal path "lessons" %} class="active"{% endifequal %}><a href="/marks/lessons/">Уроки</a></li>
		<li{% ifequal path "grades" %} class="active"{% endifequal %}><a href="/marks/grades/">Выставить отметки</li>
	{% endif %}
	</ul>
{% endblock %}

{% block topmenu %} 
	{% spaceless %}
	<ul id="topmenu">
	{% for subject in subjects %}
		{% ifequal subject.id user.current_subject.id %}
			<li class="active">{{ subject.name }}</li>
		{% else %}
			<li><a href="/marks/set_current_subject/{{ subject.id }}?next={{ next }}">{{ subject.name }}</a></li>
		{% endifequal %}
	{% endfor %}
	</ul>
	{% endspaceless %}
{% endblock %}