{% extends 'marks/page.html' %}

{% block menu %}
	<ul>
	{% if subjects %}
		<li><a href="/marks/lessons/">Уроки</a></li>
		<li><a href="/marks/grades/">Выставить отметки</li>
	{% endif %}
	{% if grade %}
		<li><a href="/marks/connections/">Связки</a></li>
	{% endif %}
	</ul>
{% endblock %}

{% block topmenu %} 
	{% spaceless %}
	{% for subject in subjects %}
		{% ifequal subject.id user.current_subject.id %}
			<span>{{ subject.name }}</span>
		{% else %}
			<a href="/marks/set_current_subject/{{ subject.id }}?next={{ next }}">{{ subject.name }}</a>
		{% endifequal %}
	{% endfor %}
	{% endspaceless %}
{% endblock %}