{% extends 'marks/teacher/page.html' %}

{% block content %}
<form method="post" action="give/">
	<table>
		<tr><td colspan="2">
			<select name="lesson">
			{% for lesson in lessons %}
			<option value="{{ lesson.id }}">{{ lesson.topic }}</option>
			{% endfor %}
			</select>
			<input type="submit" value="Выставить отметки" />
		</td></tr>
		{% for pupil in pupils %}
		<tr>
			<td><input type="checkbox" name="pupil-{{ pupil.id }}" /></td>
			<td>{{ pupil.last_name }} {{ pupil.first_name }}</td>
		</tr>
		{% endfor %}
	</table>
</form>
{% endblock %}